.details {
    width: 1200px;
    .show-img {
        margin: 0;
        width: 20%;
        img {
        max-width: 100%;
        }
    }
    .show-text {
        width: 80%;
        margin: 0;
        padding-left: 50px;
    }
}